@font-face{
    src:url(fo.ttf);
    font-family: hel;
   }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(https://miro.medium.com/v2/resize:fit:1200/1*6Jp3vJWe7VFlFHZ9WhSJng.jpeg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: hel;
}

.logo{
    font-size: 2em;
    letter-spacing: 2px;
    font-family: hel;
}

.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-family: hel;
}

.menu a:hover{
   border: 1px solid indianred;
   background: transparent;
   font-family: hel;
}

.register a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: indianred;
    font-family: hel;
}

.register a:hover{
    border: 1px solid indianred;
    background: transparent;
    font-family: hel;
}

.book-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    font-family: hel;
}

.item {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-family: hel;
}

.item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: hel;
}

.item p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
    font-family: hel;
}

.item button {
    padding: 8px 16px;
    font-size: 1em;
    background-color: indianred;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: hel;
}

.item button:hover {
    background-color: rgb(161, 57, 57);
    font-family: hel;
}
